<!--use:main-->

<!--define:css-->

<!--/define:css-->

<!--define:main-->

	<!--include:promise/prompt-->

	<div class="modal fade" id="account_modal_admin">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<div class="btn-group menu-inside btn-head left">
						<button type="button" class="dropdown-toggle btn-head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-bars"></i>
						</button>
						<ul class="dropdown-menu">
							<li data-ng-repeat="tag in ctrl.object.tags" data-ng-click="ctrl.object.refresh(tag)" data-ng-show="tag!='root'">
								{{tag}}
							</li>
						</ul>
					</div>
					<h4 class="modal-title">Administración de account</h4>
					<div class="btn-group menu-inside btn-head right">
						<button type="button" class="btn-head" data-ng-click="ctrl.object.refresh()">
							<i class="fa fa-refresh"></i>
						</button>
					</div>
				</div>
				<div class="modal-body text-left">
					
					<div data-ng-repeat="row in ctrl.object.coll">
						<a class="btn btn-default btn-block" role="button" data-toggle="collapse" href="/" data-ng-href="#users_user_action{{$index}}" aria-expanded="false" aria-controls="users_user_action{{$index}}">
							{{row.email}}
						</a>
						<div class="collapse" id="users_user_action{{$index}}">
							<div class="well">
								<button class="btn btn-default btn-block" data-ng-click="ctrl.object.changeRoles(row)" title="actualizar roles">
									<span>Actualizar roles</span>
									<i class="fa fa-info-circle pull-right"></i>
								</button>
								<button class="btn btn-block" data-ng-class="(row.activate)?'btn-primary':'btn-warning'" data-ng-click="ctrl.object.activate(row)" title="{{((row.activate)?'Deshabilitar':'Habilitar')}}">
									<span>{{((row.activate)?'Deshabilitar':'Habilitar')}}</span>
									<i class="fa pull-right" data-ng-class="(row.activate)?'fa-link':'fa-unlink'"></i>
								</button>
								<button class="btn btn-info btn-block" data-ng-click="ctrl.object.changePassword(row)" title="actualizar contraseña">
									<span>Cambiar contraseña</span>
									<i class="fa pull-right">电</i>
								</button>
								<button class="btn btn-default btn-block" data-ng-click="ctrl.object.enableRecovery(row)" title="enviar correo para recuperar contraseña">
									<span>Enviar correo para actualizar contraseña</span>
									<i class="fa fa-envelope pull-right"></i>
								</button>
								<button class="btn btn-danger btn-block" data-ng-click="ctrl.object.delete(row._id)" title="eliminar usuario">
									<span>Eliminar usuario</span>
									<i class="fa fa-trash pull-right"></i>
								</button>
							</div>
						</div>
					</div>
					
					<!--
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>
										Email
									</th>
									<th>
										Roles
									</th>
								</tr>
							</thead>
							<tr data-ng-repeat="row in ctrl.object.coll">
								<td>
									{{row.email}}
								</td>
								<td>
									{{row.roles}}
									<a href="/" data-ng-href="/admin/edit/{{row._id}}" class="pull-right">
										<i class="fa fa-eye"></i>
									</a>
								</td>
							</tr>
						</table>
					</div>
					-->
					
					<p class="text-right" data-ng-click="ctrl.object.getCollection()">{{ctrl.object.coll.length}}/{{ctrl.object.cant}}</p>
				</div>
				<div class="modal-footer-bg"></div>
				<div class="modal-footer">
					<!--<a href="/admin/new" class="btn btn-primary" title="Crear">
						<i class="fa fa-plus"></i>
					</a>-->
					<a href="/" class="btn btn-info" title="Home">
						<i class="fa fa-home"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script>
		
		app.modules.object = function(parent){
			this.parent = parent;
			this.name = 'account';
			this.query = {};
			this.options = {projection: {email: 1, roles: 1, activate: 1}, sort: {created: -1}};
			this.services = document.helper.createServices('/api/admin/' + this.name);
			
			this.scroller = '#account_modal_admin .modal-content';
			$(this.scroller).scroll(()=>{
				const p = $(this.scroller)[0].scrollHeight - $(document).height();
				if(($(this.scroller).scrollTop()*100)/p>=99){
					if(this.obtained < this.cant && !this.obtaining){
						this.getCollection();
					}
				}
			});	
		}
		
		app.modules.object.prototype.getTags = async function(){
			try{
				this.tags = await this.services.tag();
			}catch(e){
				alert(e);
				console.log(e);
			}
			this.refresh();
		}
		
		app.modules.object.prototype.refresh = function(roles){
			if(roles){
				this.query.roles = roles;
			}else{
				delete this.query.roles;
			}
			this.cant = 0;
			this.obtained = 0;
			this.coll = [];
			this.getTotal();
		}
		
		app.modules.object.prototype.getTotal = async function(){
			$('.loader').fadeIn();
			try{
				this.cant = await this.services.total(this.paramsToGetTotal());
				this.getCollection();
			}catch(e){
				alert(e);
				console.log(e);
			}
		}
		
		app.modules.object.prototype.paramsToGetTotal = function(){
			return {query: JSON.stringify(this.query)};
		}
		
		app.modules.object.prototype.getCollection = async function(){
			$('.loader').fadeIn();
			try{
				this.obtaining = true;
				this.coll = this.coll.concat(await this.services.collection(this.paramsToGetCollection()));
				this.obtained = this.coll.length;
				this.obtaining = false;
				this.parent.refresh();
			}catch(e){
				alert(e);
				console.log(e);
			}
			$('.loader').fadeOut();
		}
		
		app.modules.object.prototype.paramsToGetCollection = function(){
			return {query: JSON.stringify(this.query), options: JSON.stringify(this.getOptions())};
		}
		
		app.modules.object.prototype.getOptions = function(){
			return {...this.options, skip: this.obtained, limit: 50};
		}
		
		app.modules.object.prototype.changeRoles = async function(row){
			try{
			console.log(this.parent);
				$('#account_modal_admin').modal("hide");
				const newroles = await this.parent.prompt.execute('Actualizar roles', 'text', 'Ingrese roles separados por coma',row.roles.join(','));
				if(newroles.trim()==''){
					$('#account_modal_admin').modal("show");
					return;
				}
				$(".loader").fadeIn();
				await this.services.update({id: row._id},{type: 'roles',roles: newroles.split(',')});
				alert("Documento actualizado correctamente");
				this.refresh();
			}catch(e){
				alert(e.error || e);
				console.log(e);
			}
			$(".loader").fadeOut();
			$('#account_modal_admin').modal("show");
		}
		
		app.modules.object.prototype.activate = async function(row){
			try{
				const q = (row.activate)?"Deshabilitar":"Habilitar";
				if(!confirm('Confirma ' + q)){
					return;
				}
				$(".loader").fadeIn();
				await this.services.update({id: row._id},{type: 'activate'});
				alert("Documento actualizado correctamente");
				this.refresh();
			}catch(e){
				alert(e.error || e);
				console.log(e);
			}
			$(".loader").fadeOut();
		}
		
		app.modules.object.prototype.changePassword = async function(row){
			try{
				if(!confirm('Confirma querer cambiar contraseña')){
					return;
				}
				$('#account_modal_admin').modal("hide");
				const newpassword = await this.parent.prompt.execute('Cambiar contraseña', 'password', 'Ingrese nueva contraseña...','');
				if(newpassword.trim()==''){
					$('#account_modal_admin').modal("show");
					return;
				}
				$(".loader").fadeIn();
				await this.services.update({id: row._id},{type: 'password',password: newpassword});
				alert("Documento actualizado correctamente");
				this.refresh();
			}catch(e){
				alert(e.error || e);
				console.log(e);
			}
			$(".loader").fadeOut();
			$('#account_modal_admin').modal("show");
		}

		app.modules.object.prototype.enableRecovery = async function(row){
			try{
				if(!confirm('Confirma enviar correo de recuperación')){
					return;
				}
				$(".loader").fadeIn();
				await this.services.update({id: row._id},{type: 'notify'});
				alert("Notificacion enviada correctamente");
			}catch(e){
				alert(e.error || e);
				console.log(e);
			}
			$(".loader").fadeOut();
		}

		app.modules.object.prototype.delete = async function(id){
			try{			
				if(!confirm("Confirme eliminación del documento")){
					return;
				}
				$(".loader").fadeIn();
				await this.services.delete({id: id || this.doc._id});
				alert("Documento eliminado correctamente");
				this.refresh();
			}catch(e){
				alert(e.error || e);
				console.log(e);
			}
			$(".loader").fadeOut();
		}
		
		app.modules.object.prototype.start = function(){
			$('#' + this.name + '_modal_admin').modal('show');
			this.getTags();
		}
		
	</script>
	
<!--/define:main-->