<!--use:views/main-->

<!--define:css-->
	<style type="text/css">
		.modal-body{
			padding-bottom: 50px;
		}
		.img_main{
			width: 100%;
		}
		.bg-primary{
			padding: 15px;
		}
		@media (max-width: 768px) {
			.modal-title{
				font-size: 11px;
			}
		}
		
		article{
			min-height: 200px;
			max-height: 200px;
			
			height: 220px;
			position: relative;

		}
		.info{
			position: absolute;
			background: black;
			color: white;
			
			width: 100%;
			top: 0px;
			opacity: 0.7;
			
			text-align: center;	
		}
		.col-md-6 img{		
			width: 100%;
			height: 200px;
			min-height: 200px;
			max-height: 200px;
		}
	</style>
	
<!--/define:css-->

<!--define:main-->

	<div class="modal fade" id="blog_modal_document">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="btn-group menu-inside btn-head left">
						<button type="button" class="dropdown-toggle btn-head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-bars"></i>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="/">
									<i class="fa fa-home"></i>
								</a>
							</li>
							<!--repeat:doc.tags-->
							<li>
								<a href="/categoria/{{data:doc.tags[index]}}">{{data:doc.tags[index]}}</a>
							</li>
							<!--/repeat:doc.tags-->
						</ul>
					</div>
					<h4 class="modal-title">
						{{data:doc.row.title}}
					</h4>
				</div>
				<div class="modal-body text-justify">
					<img src="{{data:doc.img.replace('/media/','/')}}" class="img_main" alt="{{data:doc.row.resume}" title="{{data:doc.row.title}}"/>
					<br>
					<p>{{data:doc.row.resume}}</p>
					<div id="blog_document_content">{{data:doc.row.content}}</div>
					<br>
					<br>
					<small title="{{ctrl.blog.doc.datetitle}}">Escrito por {{data:doc.row.author.nickname}} <span>{{ctrl.blog.doc.datefromnow}}</span></small>
					<br>
					<br>
					
					<!--ACTIONS-->
					<div id="dvBlogRSS" class="text-center">
						<button type="button" class="btn btn-default" title="Copy" data-ng-click="ctrl.blog.copyURL(ctrl.blog.doc.uri)">
							<i class="fa fa-copy"></i>
						</button>
						<a href="/" data-ng-href="https://www.facebook.com/sharer/sharer.php?u={{ctrl.blog.getURI(ctrl.blog.doc.uri)}}" class="btn btn-default" target="_blank" title="Facebook" >
							<i class="fa fa-facebook"></i>
						</a>
						<a href="/" data-ng-href="https://twitter.com/intent/tweet?text={{ctrl.blog.doc.description}}&url={{ctrl.blog.getURI(ctrl.blog.doc.uri)}}&hashtags={{ctrl.blog.doc.hashtag}}" class="btn btn-default" target="_blank" title="Twitter" >
							<i class="fa fa-twitter"></i>
						</a>
						<a href="/" data-ng-href="https://api.whatsapp.com/send?text={{ctrl.blog.doc.description}} {{ctrl.blog.getURI(ctrl.blog.doc.uri)}}" class="btn btn-default" target="_blank" title="Whatsapp" >
							<i class="fa fa-whatsapp"></i>
						</a>
						<a href="/" data-ng-href="https://www.linkedin.com/sharing/share-offsite/?url={{ctrl.blog.getURI(ctrl.blog.doc.uri)}}" class="btn btn-default" target="_blank" title="Linkedin" >
							<i class="fa fa-linkedin"></i>
						</a>
						<a href="{{ctrl.blog.doc.uri}}.html" class="btn btn-default" target="_blank" title="HTML">
							<i class="fa fa-html5"></i>
						</a>
					</div>
					<br>
					<br>
					
					<!--RELATIONS-->
					<div class="row">
						<!--repeat:doc.row.relation-->
						<div class="col-md-6">
							<a href="{{data:doc.row.relation[index].uri}}">
								<article>
									<img src="{{data:doc.row.relation[index].img.replace('/media/','/')}}" alt="imagen de publicación" title="imagen de publicación"/>
									<div class="info">
										<h2>{{data:doc.row.relation[index].title}}</h2>
										<small title="{{relation.datetitle}}">{{relation.datefromnow}}</small>
									</div>
								</article>
							</a>
						</div>
						<!--/repeat:doc.row.relation-->
					</div>
					<br>
					<br>
					
					<!--TAGS-->
					<p data-ng-repeat="tag in ctrl.blog.doc.tag" class="bg-primary text-center">
						<a href="/categoria/{{tag}}">{{tag}}</a>
					</p>
					
					<!--COMMENT-->
					<!--<button class="btn btn-block btn-warning" data-dismiss="modal" data-ng-click="ctrl.pushStory('#blog_modal_document');ctrl.comment.load(ctrl.blog.doc._id)" >
						Comentarios
					</button>-->
					
				</div>
			</div>
		</div>
	</div>

	<script>
		
		app.modules.blog = function(parent){	
			this.parent = parent;
		}
		
		app.modules.blog.prototype.formatToClient = function(row){
			row.created = new Date(row.created);
			row.datefromnow = moment(row.created, "YYYYMMDD, h:mm:ss").fromNow();
			row.datetitle = moment(row.created).format("dddd, DD MMMM YYYY, h:mm:ss");
			return row;
		}	
		
		app.modules.blog.prototype.start = async function(){
			this.doc = ({{data:((!doc.row)?"{}":JSON.stringify(doc.row))}});
			this.doc = this.formatToClient(this.doc);
			$('#blog_modal_document').modal('show');
			$(".loader").fadeOut();	
		}
		
		app.modules.blog.prototype.getURI = function(uri){
			return document.host + '/' + uri;
		}
		
		app.modules.blog.prototype.copyURL = function(uri){
			document.helper.copy(this.getURI(uri));
			alert('URL Copiada :)');
		}
		
	</script>
	
<!--/define:main-->